<button class="tr" appContextMenu [template]="contextMenu" (click)="onTR($event)">TR</button>

<ng-template #contextMenu>
  NISC
  <br>
  cu  
</ng-template>



<button (click)="onToaster($event)">TOASTER</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<button class="btn" (click)="onTooltip($event)" appTooltip="Enter tooltip text here...">TOOLTIP</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<button (click)="onModalDialog($event)">MODAL DIALOG</button>

<br>

<button (click)="onNonModalDialog($event)">NON-MODAL DIALOG</button>

