.overlay {
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // pointer-events: none;
  
  z-index: 9999;
  display: inline-block;

  .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);      
  }
}